<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="isOverwrite" value="True" />
    <add key="isRecursion" value="True" />
    <add key="RecursionDepth" value="-1" />
    <add key="isHiddenFile" value="True" />
    <add key="isImageCompress" value="True" />
  </appSettings>
</configuration>